
body{
	background-color: #1c333d;
	font-family: sans-serif;
}

.form{

	width: 400px;
	margin: auto;
	padding-top: 40px;
}

.card{
	box-shadow: 1px 1px 5px #baa988;
	background-color: white;
	padding: 30px;
	border-radius: 5px;
    padding-left: 0px;
    width: 500px;
    height: 470px;


}

.card-top{

	text-align: center;
}

.imglogin{

	border-radius: 75px;
	width: 150px;
	box-shadow: 1px 1px 5px #baa988;
}

.titulo{
color: #1c333d;

}

.card-group{

	margin-bottom: 10px;
	border:0px;
}

.card-group >button{

	background-color: #baa988;
	width: 10%;
	border-radius: 30px;
	padding: 15px;
	color: white;
	border:0px;
	outline:0px;
}

.card-group > label{
	width: 83%;
	color: #1c333d;
	display: block;
}

.card-group > input {

	border-radius: 5px;
	outline:0;
	width: 20%;
	height: 25px;
	padding: 5px;



}